body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: white;
  background-image: url(table.png);
  background-size: cover;
}

h1 {
  color: goldenrod;
}
