body{
    background-image: url(images/table.png);
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 20px;
}
h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    width: 150px;
    border: none;
    margin-bottom: 5px;
    padding: 8px 12px;
    background-color: goldenrod;
    font-weight: bold;
    color: #016f32;
    border-radius: 3px;
    
}
